@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* UTILS */
body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #f4a261;
  box-shadow: 0px 0.1px 4px 0.1px #b7b6b6;
}

/* HEADER SECTION*/
header {
  height: 125px;
  min-width: 100%;
  background: #b8c09e;
}

header section {
  display: flex;
  height: 100%;
  /* width: 1350px; */
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

nav {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-1 {
  color: #fff;
  font-size: 2.6rem;
  opacity: 0.9;
  font-family: "Parisienne", cursive;
}

.logo-2 {
  color: #fff;
  font-size: 2.6rem;
  opacity: 0.7;
  font-family: "Allura", cursive;
  margin-top: -1rem;
}

ul {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
  font-weight: 200;
}

ul li a:hover {
  color: #383838;
  /* border-bottom: 1px solid #383838; */
}

.connect {
  display: flex;
  align-items: center;
}

header i {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.connect button {
  margin-left: 1rem;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
}

button:hover {
  background-color: #ee9f5f;
}

/* Sub header */
.sub-header {
  padding-top: 2rem;
  height: 700px;
  width: 100%;
  background-color: #f9f7f3;

  display: flex;
  justify-content: center;
}

.swiper {
  width: 70%;
  height: 95%;
  box-shadow: 0px 1px 4px 1px #1d1d1c;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

/* Main */
main {
  height: 650px;
  background-color: #f9f7f3;
  margin: 0 auto;
}

.img-container {
  display: flex;
  justify-content: space-around;

  height: 650px;
  gap: 7rem;
  padding-top: 4rem;
}

.main-text {
  display: flex;
  flex-direction: column;
  height: 500px;
  gap: 1.5rem;
  color: #22333b;
}

.main-text h1 {
  font-size: 5rem;
  font-weight: 300;
}

.main-text p {
  font-size: 1.1rem;
  font-weight: 200;
  padding-left: 2px;
}

.main-text button {
  height: 48px;
  margin-top: 2rem;
  font-size: 1rem;
}

.img-container img {
  height: 500px;
  width: 60%;
  box-shadow: 0px 1px 4px 1px #bebebd;
}

/* About */
.about {
  height: 650px;
}

.about .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 7rem;
  /* padding-top: 4rem; */
}

.about .container img {
  height: 500px;
  width: 60%;
  box-shadow: 0px 1px 4px 1px #bebebd;
}

.about-text {
  display: flex;
  flex-direction: column;
  height: 500px;
  gap: 1.5rem;
  color: #22333b;
}

.about-text h1 {
  font-size: 4rem;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

.about-text p {
  font-size: 1.1rem;
  font-weight: 200;
  padding-left: 2px;
}

.about-text button {
  height: 48px;
  margin-top: 2rem;
  font-size: 1rem;
}

/* Footer */
footer {
  background-color: #b8c09e;
  height: 300px;
}

footer .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  color: #fff;
}

.capture {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.capture h2 {
  font-size: 2rem;
  font-weight: 400;
}

.capture i {
  font-size: 1.5rem;
}

footer .container h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

footer .container p {
  font-weight: 200;
}
