@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* UTILS */
body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #f4a261;
  box-shadow: 0px 0.1px 4px 0.1px #b7b6b6;
}

/* HEADER SECTION*/
header {
  height: 125px;
  min-width: 100%;
  /* background: #b8c09e; */
  background: #e8dbc9;
}

header section {
  display: flex;
  height: 100%;
  /* width: 1350px; */
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

nav {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-1 {
  color: #fff;
  font-size: 2.6rem;
  opacity: 0.95;
  font-family: "Parisienne", cursive;
}

.logo-2 {
  color: #fff;
  font-size: 2.6rem;
  opacity: 0.8;
  font-family: "Allura", cursive;
  margin-top: -1rem;
}

header ul {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
  font-weight: 200;
}

ul li a:hover {
  color: #383838;
  /* border-bottom: 1px solid #383838; */
}

.connect {
  display: flex;
  align-items: center;
}

header i {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.connect button {
  margin-left: 1rem;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
}

button:hover {
  background-color: #ee9f5f;
}

/* Sub header */
.sub-header {
  padding-top: 2rem;
  padding-bottom: 4rem;

  height: auto;
  width: 100%;
  background-color: #f9f7f3;

  display: flex;
  justify-content: center;
}

.swiper {
  width: 65%;
  /* height: 590px; */
  border: 12px solid white;
  box-shadow: 0px 1px 4px 1px #1d1d1c29;
}

.swiper-slide img {
  width: 99.5%;
  margin-left: 2px;
  height: fit-content;
  object-fit: fill;
  object-position: 50% 50%;
  margin-bottom: -2rem;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

/* Main */
main {
  /* height: 690px; */
  padding-bottom: 4rem;
  background-color: #f9f7f3;
  margin: 0 auto;
}

main .container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;

  /* height: 650px; */
  gap: 7rem;
  padding-top: 4rem;
  border-top: 1px solid #b8c09e4a;
}

.main-text {
  display: flex;
  flex-direction: column;
  height: 500px;
  gap: 1.5rem;
  color: #22333b;
}

.main-text h1 {
  font-size: 5rem;
  font-weight: 300;
}

.main-text p {
  font-size: 1.1rem;
  font-weight: 200;
  padding-left: 2px;
}

.main-text button {
  height: 48px;
  margin-top: 2rem;
  font-size: 1rem;
}

main .container img {
  height: 500px;
  border: 12px solid white;
  box-shadow: 0px 1px 4px 1px #1d1d1c29;
  object-fit: cover;
  object-position: 50% 50%;
}

/* About */
.about {
  height: 650px;
}

.about .container {
  height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  gap: 7rem;
  padding-top: 4rem;
}

.about .container img {
  height: 500px;
  width: 60%;
  border: 12px solid white;
  box-shadow: 0px 1px 4px 1px #1d1d1c29;
  object-fit: cover;
  object-position: 50% 50%;
}

.about-text {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 500px;
  gap: 1.5rem;
  color: #22333b;
}

.about-text h1 {
  font-size: 4rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.about-text p {
  font-size: 1.1rem;
  font-weight: 200;
  padding-left: 2px;
}

.about-text button {
  height: 48px;
  margin-top: 2rem;
  font-size: 1rem;
}

/* Footer */
footer {
  background: #e8dbc9;
  height: 300px;
}

footer .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  color: #fff;
}

.capture {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.capture h2 {
  font-size: 2rem;
  font-weight: 400;
}

.capture i {
  font-size: 1.5rem;
}

footer .container h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

footer ul {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
  font-weight: 200;
}

footer .container p {
  font-weight: 200;
}

/* HAMBURGER */
.hamburger {
  display: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: #fff;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 1.5px;
  background-color: #fff;
  margin: 6px 0px;
  transition: 0.4s;
}

/* Small Laptops */
@media (max-width: 1360px) {
  /* Main */
  main .container {
    gap: 6rem;
    padding: 0 3rem;
    padding-top: 4rem;
    height: 450px;
  }

  .main-text {
    gap: 0.9rem;
  }

  .main-text h1 {
    font-size: 4rem;
  }

  .main-text p {
    font-size: 1rem;
  }

  main .container img {
    height: fit-content;
    width: 50%;
  }

  .main-text button {
    width: 25rem;
  }

  /* About */
  .about {
    height: 510px;
    padding-bottom: 4rem;
  }

  .about .container img {
    height: fit-content;
    width: 50%;
  }

  .about .container {
    gap: 6rem;
    padding: 0 3rem;
    padding-top: 4rem;
  }

  .about-text {
    gap: 0.9rem;
  }

  .about-text h1 {
    font-size: 4rem;
  }

  .about-text p {
    font-size: 1rem;
  }
}

@media (max-width: 1200px) {
  /* Main */
  .main-text h1 {
    font-size: 3.5rem;
  }

  .main-text p {
    font-size: 0.9rem;
  }

  .main-text button {
    margin-top: 1rem;
  }

  /* About */
  .about {
    height: 480px;
    padding-bottom: 4rem;
  }

  .about-text h1 {
    font-size: 3.5rem;
  }

  .about-text p {
    font-size: 0.9rem;
  }

  .about-text button {
    margin-top: 1rem;
  }
}

@media (max-width: 1075px) {
  .swiper {
    margin-top: 2rem;
  }

  main .container img {
    margin-top: 1rem;
  }

  .about .container img {
    margin-top: 1rem;
  }
}

@media (max-width: 1010px) {
  header ul {
    display: none;
  }
}

@media (max-width: 1000px) {
  /* MAIN */
  main {
    height: 925px;
  }

  main .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    height: 100%;
    gap: 2rem;
    padding-top: 2.8rem;
  }

  .main-text {
    align-items: center;
    width: 500px;
    text-align: center;
    /* height: 500px; */
  }

  main .container img {
    height: 500px;
    width: 600px;
    box-shadow: 0px 1px 4px 1px #bebebd;
  }

  /* ABOUT */
  .about {
    height: 900px;
  }

  .about .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    gap: 2rem;
    padding-top: 2.5rem;
  }

  .about-text {
    align-items: center;
    width: 500px;
    text-align: center;
  }

  .about .container img {
    height: 500px;
    width: 600px;
    box-shadow: 0px 1px 4px 1px #bebebd;
  }

  .about-text button {
    width: 25rem;
  }
}

@media (max-width: 870px) {
  /* MAIN */
  main {
    height: 900px;
  }

  main .container img {
    min-height: 400px;
  }

  /* ABOUT */
  .about {
    height: 900px;
  }

  .about .container {
    padding-top: 3rem;
  }

  .about .container img {
    min-height: 400px;
  }
}

@media (max-width: 850px) {
  .swiper {
    width: 550px;
  }
}

@media (max-width: 755px) {
  main .container img {
    width: 550px;
  }

  .about .container img {
    width: 550px;
  }
}

@media (max-width: 685px) {
  header ul {
    display: none;
  }
}

@media (max-width: 605px) {
  main .container img {
    width: 475px;
  }

  .about .container img {
    width: 475px;
  }
}

@media (max-width: 515px) {
  .hamburger {
    display: block;
  }

  header {
    height: 75px;
  }

  .logo-1 {
    font-size: 1.8rem;
  }

  .logo-2 {
    display: none;
  }

  .connect {
    display: none;
  }

  /* SUB header */

  .swiper {
    width: auto;
    height: 400px;
    margin: 0 2rem;
    border-top: none;
    border: 12px solid white;
    box-shadow: 0px 1px 4px 1px #1d1d1c29;
    margin-top: 2rem;
  }

  .swiper-slide img {
    width: 100%;
    margin-left: 0;
    height: 100%;

    object-fit: cover;
    object-position: 50% 50%;
  }

  /*  */

  .main-text {
    /* display: none; */
    max-width: 100%;
  }

  /*  */
  .about-text {
    /* display: none; */
    max-width: 100%;
  }

  /* MAIN */
  main {
    /* border: 1px solid red; */
    height: 930px;
    /* box-shadow: 0px 1px 4px 1px #1d1d1c29; */
  }

  main .container {
    width: 100%;
    /* border: 1px solid blue; */
    height: 100%;
    padding-top: 2rem;
    /* border-top: ; */
  }

  main .container img {
    border: 12px solid white;
    height: 200px;
    width: 100%;

    object-fit: cover;
    object-position: 60% 50%;
    /* box-shadow: 0px 1px 4px 1px #bebebd; */
  }

  .main-text {
  }

  .main-text button {
    width: 15rem;
  }

  /* ABOUT */
  .about {
    height: 850px;
  }

  .about .container {
    width: 100%;
    padding-top: 5rem;
    height: 100%;
  }

  .about .container img {
    border: 12px solid white;
    /* max-height: 400px; */
    width: 100%;

    object-fit: cover;
    object-position: 60% 50%;
    /* box-shadow: 0px 1px 4px 1px #bebebd; */
  }

  .about-text {
    padding-top: 0rem;
  }

  .about-text button {
    width: 15rem;
  }

  /* FOOTER */
  footer {
    height: 280px;
  }

  .capture h2 {
    font-size: 1rem;
  }

  footer .container h3 {
    font-size: 1.1rem;
    text-align: center;
    max-width: 100%;
    margin: 0 2rem;
  }
}

@media (max-width: 515px) {
  .about .container {
    /* padding-top: 3rem; */
  }

  .about {
    height: 860px;
    overflow: scroll;
  }
}

@media (max-width: 450px) {
  .about {
    height: 900px;
  }
}

@media (max-width: 402px) {
  .about .container {
    padding-top: 3rem;
  }

  .about {
    height: 1000px;
    overflow: scroll;
  }
}

/**********************/
/**PORTFOLIO, PRICING**/
/**********************/
section.portfolio,
section.pricing {
  height: 500px;
  display: flex;
  align-items: center;
}

section.portfolio h1,
section.pricing h1 {
  text-align: center;
  width: 100%;
  font-size: 8rem;
  color: #cfbda5;
  font-family: "Parisienne", cursive;
}

/**********************/
/******MORE ABOUT******/
/**********************/
